/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
  background-color: white;
}

#navbar li a {
  color: #c10000;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 110%;
}

#navbar li a:hover {
  color: inherit;
}

#navbar-right{
  color: #c10000;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 110%;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.panel-footer-price {
  font-size: 20px;
  color: #c10000;
  font-weight: bold;
}

.navbar-logo{
  width: 20px;
  height: 20px;
}

.title-target {
  display: inline;
  color: #c10000;
  font-size: 130%;
  font-family: "Helvetica Neue";
}

.title-subtitle {
  display: inline;
  font-size: 115%;
  font-family: "Helvetica Neue";
}

.add-button {
  padding-top: 2px;
	padding-bottom: 5px;
	background-color: #c10000;
	color: white;
	display: inline-block;
	border: none;
	border-radius: 4px;
}

.item-name {
  font-size: 14px;
  font-style: bold;
}

.price {
  font-size: 15px;
  color: red;
  text-align: center;
}
